[Desktop Entry]
Type=Application
Name=SA:MP Launcher
Comment=GTA San Andreas Multiplayer
Exec=/usr/local/bin/samp-linux
Icon=samp-linux
Terminal=false
Categories=Game;
